/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2014, 10:58:33 PM
    Author     : Busairo
*/
h1 {
    font-family: sans-serif;
    font-size: 200%;
}

h2 {
    font-family: sans-serif;
    font-size: 180%;
}

h3 {
    font-family: sans-serif;
    font-size: 160%;
}

p {
    font-family: sans-serif;
    font-size: 150%
}

body {
    background-image: url("multiplebandsbackground.jpg");
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    opacity: 1.0;
}

#usernamebox {
    font-family: sans-serif;
    width:20%;
    background: transparent;
    margin-bottom:0%;
    padding:0%;
    font-family:cursive;
    font-size:95%;
    color: transparent;
}

#passwordbox {
    font-family: sans-serif;
}

#mainsignuparea {
    position: fixed;
    top: 50px;
    right: 10px;
}

input[type="submit"]{
    width:20%;
    background: transparent;
    border-radius: 20px / 20px;
    border:5px;
    padding:0%;
    font-family: sans-serif;
    font-size:160%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

input[type="submit"]:hover{
    background: gray;
}

input[type="text"] {
    width:100%;
    background: rgba(255,255,255,0.1);
    border:5px;
    font-family: sans-serif;
    font-size:160%;
    color: white;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    border-radius: 20px / 20px;
}


input[type="password"] {
    width:20%;
    background: rgba(255,255,255,0.1);
    border:5px;
    font-family: sans-serif;
    font-size:160%;
    color: white;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
    border-radius: 20px / 20px;
}