/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2014, 1:38:33 PM
    Author     : Busairo
*/

.aquaText {
    color: aqua;
}

body {
    background-image: url("black texture.jpg");
}

h2 {
    color: white;
}

a {
    color: white;
}

.songarea {
    border: 1px solid white;
    color: black;
    background-color: white;
    width: 800px;
    height: 400px;
    overflow: scroll;
}

