/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2014, 1:38:33 PM
    Author     : Busairo
*/

body {
    background-image: url("landingpagebackground.jpg");
    background-size: 1260px 650px;
}

select {
    background-color: transparent;
    border: 0px solid transparent;
    color: white;
    font-size: 150%;
    -webkit-appearance:none;
    overflow: scroll;
}

.aquaText {
    color: aqua;
}

h2 {
    color: white;
    font-size: 200%;
}

a {
    color: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 130%;
}

.songarea {
    border: 2px solid transparent;
    color: white;
    background-color: rgba(255,255,255,0.1);
    width: 800px;
    height: 400px;
    overflow: auto;
    position: absolute;
    left: 35px;
    top: 120px;
    border-radius: 20px / 20px;
}

#searchbar {
    position: absolute;
    left: 850px;
    top: 120px;
    font-size: 150%;
}

#addsongbutton {
    position: absolute;
    left: 900px;
    top: 170px;
    font-size: 150%
}

#deletesongbutton {
    position: absolute;
    left: 900px;
    top: 250px;
    font-size: 150%;
}

#creategroupbutton {
    position: absolute;
    left: 900px;
    top: 330px;
    font-size: 150%;
}

#editgroupbutton {
    position: absolute;
    left: 900px;
    top: 375px;
    font-size: 150%;
}

input[type="submit"]{
    width:100%;
    background: transparent;
    border:10px;
    padding:0%;
    font-family: sans-serif;
    font-size:100%;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

input[type="submit"]:hover{
    background: rgba(255,255,255,0.1);
    border-radius: 20px / 20px;
}

input[type="text"] {
    width:60%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px / 20px;
    border:5px;
    font-family: sans-serif;
    font-size:100%;
    color: white;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

p1 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 100%;
    color: white;
}

