/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2014, 8:40:06 AM
    Author     : Busairo
*/

body {
    background-image: url("music-thinking.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: black;
    background-size: 1400px 700px;
}

h1 {
    font-family: cursive;
    position: absolute;
    top: 20px;
    left: 20px;
}

a {
    font-family: cursive;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 120%;
}

form {
    position: absolute;
    right: 230px;
    top: 220px;
    font-size: 150%;
    font-family: cursive;
}

input[type="submit"]{
  width:60%;
  background: transparent;
  border:5px;
  padding:0%;
  font-family: cursive;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
    background: gray;
    width: 200px;
}
